{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "useTabs": false,
  "quote": "double",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false
}
